.hidden {
  display: none;
}

/*General tags*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*General clases*/
.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

/*Header*/

.webstudio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .webstudio-logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .webstudio-logo {
    margin-right: 76px;
  }
}

.logo-studio {
  color: #2e2f42;
}

.page-header {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  display: flex;
  border: none;
  background-color: transparent;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.nav-list {
  display: none;
}

.addr {
  display: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .nav-list,
  .addr {
    display: flex;
  }
}

.page-navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-studio {
  color: #404bbf;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: #404bbf;
}

.nav-studio::after {
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav-item {
    display: block;
  }
  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  nav a {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts {
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    text-decoration: none;
    color: #434455;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .addr-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*mobile menu*/

.mobile-menu-container {
  position: relative;
  padding: 72px 16px 40px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn .icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-close-btn:hover .icon,
.mobile-menu-close-btn:focus .icon {
  fill: #fff;
}
.mobile-nav {
  margin-bottom: auto;
}
.mobile-addr {
  margin-bottom: 48px;
}

.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-item:hover,
.mobile-nav-item:focus {
  color: #404bbf;
}

.mobile-nav-item.studio {
  color: #404bbf;
}

.mobile-addr-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.mobile-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts:hover,
.mobile-contacts:focus {
  color: #4d5ae5;
}

.social-media-mob {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.sm-mobile-box {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-social-link {
  fill: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*section1 Hero*/
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-text {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1158px) {
  .main-text {
    max-width: 496px;
    margin-bottom: 48px;
  }
}

.button-order-service {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

/*section2 Features*/

.value-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .value-name {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .value-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.value-descr {
  font-weight: 500;
}

@media screen and (min-width: 1158px) {
  .value-descr {
    font-weight: 400;
  }
}

.icon-feature-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .icon-feature-container {
    display: flex;
  }
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.icon-feature {
  margin: 24px 100px;
}

/*Section3 Employes*/

.empl-section {
  background-color: #f4f4fd;
}

.empl-box {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 32px 0;
}

.empl-name {
  text-align: center;
}

.empl-descr {
  text-align: center;
  margin-bottom: 8px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.social-link-box {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.empl-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  overflow: hidden;
}

.empl-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .empl-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .empl-item {
    width: calc((100% - 72px) / 4);
  }
}

/*Section4 Portfolio*/
.portf-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portf-list {
    row-gap: 72px;
  }
}

.portf-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portf-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portf-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.portf-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  background-color: #fff;
}

.portf-img-container {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: none;
}
.portf-item:hover .portf-overlay {
  transform: translateY(0);
}
.portf-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .portf-overlay {
    display: block;
  }
}

.portf-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/*Footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
}

.page-footer span {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}

.sm-descr-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.sm-footer-box {
  width: 40px;
  height: 40px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.subscribe-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-email {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
  }
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
  margin-left: 16px;
}

.subscribe-btn:hover {
  background-color: #404bbf;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}

.footer-descr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sm-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-descr-container {
    display: block;
    margin-right: 24px;
  }
  .sm-footer-container {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
  }
  .footer-descr-container {
    margin-right: 120px;
  }
  .sm-footer-container {
    margin-right: 80px;
  }
}

.subscribe-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .subscribe-form-wrap {
    align-items: start;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }
}

/*Modal window*/

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.modal-window {
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-window {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.close-form-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-form-btn .icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.close-form-btn:hover,
.close-form-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-form-btn:hover .icon,
.close-form-btn:focus .icon {
  fill: #fff;
}

.modal-form-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-item {
  margin-bottom: 8px;
}

.form-label {
  font-family: inherit;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-form-icon-wrap {
  width: 18px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.modal-form-icon-wrap .icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-input {
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.input-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: #4d5ae5;
}

.comment-wrap {
  margin-bottom: 16px;
}

.terms-field-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.user-privacy-input {
  cursor: pointer;
}

.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-privacy-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.modal-form input[type='checkbox']:checked + label .user-privacy-span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.pp-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.send-form-btn {
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  min-width: 169px;
  cursor: pointer;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #404bbf;
}
